.centeralign{
	text-align: center;
}

.fixedWithForNumbPanel{
	width: 149px;
}

.dontPad{
	padding: 0px;
}

.cellFormat{
	font-family: monospace;
	margin-top: 1px;
}

#numberdisplay{
    text-align: right;
}

.cellSmallerFontSize{
	font-size: 10px;
	max-width: 28px;
    min-height: 30px;
}

.hide{
	display: none;
}

.toppadding{
	padding-top: 20px;
}

.bottommargin{
    margin-bottom: 20px;
}

.checkboxadjust{
    padding-left: 25px;
    padding-right: 10px;
}

.rowpadding{
    padding-left: 15px;
}
